.optionbar {
     background: #242424;
     color: #838383;
     width: 15rem;
     height: auto;
     margin: 0;
     padding: 0;
}

.profile {
     text-align: center;
}

.profile p {
     margin: 3px;
}

.profile_name {
     font-size: larger;
     font-weight: bold;
}

.options {
     color: #C4C4C4;
     font-weight: bold;
     font-size: large;
     padding-top: 3rem;
     padding-left: 2rem;
}

a {
     text-decoration: none;
     color: inherit;
}

.options div {
     text-align: center;
     margin-bottom: 2rem;
     padding: 1.25rem;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
}

.current {
     background: #2C2C2C;
     color: #FF6027;
     border-left: 3px solid red;
}

.logout {
     color: #FF6027;
}